.env
.DS_Store

docker-compose.override.yml

dnscrypt-proxy/resolvers-cache/*
!dnscrypt-proxy/resolvers-cache/.gitkeep

stunnel_server/*
!stunnel_server/README
!stunnel_server/docker-compose.yml

singbox-sub/config.json
xray/config.json

frpc/certs/*
!frpc/certs/.gitkeep
frpc-proxy/certs/*
!frpc-proxy/certs/.gitkeep

psiphon/*
!psiphon/.gitkeep

dns-scanner/out/*
!dns-scanner/out/.gitkeep

dnstt/id_rsa
dnstt/id_rsa.pub