# HTTP(S) and SOCKS4(A)/SOCKS5 server on the same port
mixed-port: 7890

# Set to true to allow connections to the local-end server from
# other LAN IP addresses
allow-lan: true
bind-address: '*'

# Clash router working mode
# rule: rule-based packet routing
# global: all packets will be forwarded to a single endpoint
# direct: directly forward the packets to the Internet
mode: rule

# info / warning / error / debug / silent
log-level: warning
ipv6: false

tun:
  enable: true
  stack: system
  auto-route: false
  auto-redir: false
  auto-detect-interface: true

proxies:
  - name: "shadowsocks"
    type: socks5
    server: 127.0.0.1
    port: 1081
    udp: true
  - name: "naive"
    type: socks5
    server: 127.0.0.1
    port: 1080
    udp: true

proxy-groups:
  - name: auto
    type: url-test
    proxies:
#      - shadowsocks
      - naive
    tolerance: 150
    lazy: true
    url: 'http://www.gstatic.com/generate_204'
    interval: 300

# tunnels:
#   - network: [tcp, udp]
#     address: 0.0.0.0:9000
#     target: ovpn-server:9000
#     proxy: auto

rule-providers:
  ads:
    behavior: "domain"
    type: file
    path: "/root/.config/clash/rules/clash_rules_ads.yaml"
  ir:
    behavior: "domain"
    type: file
    path: "/root/.config/clash/rules/clash_rules_ir.yaml"
#   ir:
#     type: http
#     behavior: classical
#     url: "https://github.com/bootmortis/iran-hosted-domains/releases/latest/download/clash_rules.yaml"
#     path: /root/.config/clash/ir-ruleset.yaml
#     interval: 432000

rules:
  # Local address
  - IP-CIDR,127.0.0.0/8,DIRECT
  - IP-CIDR,172.16.0.0/12,DIRECT
  - IP-CIDR,192.168.0.0/16,DIRECT

  - IP-CIDR,10.0.0.0/8,REJECT

  - DOMAIN-SUFFIX,.ntp.org,DIRECT

  - RULE-SET,ads,REJECT

  - DOMAIN-SUFFIX,.ir,DIRECT
  - GEOIP,IR,DIRECT
  - RULE-SET,ir,DIRECT

  - MATCH,auto