# The absolute or relative path to your list of CIDRs to scan
CIDR_FILE_HOST_PATH=./cidrs.txt

# The absolute or relative path to the directory where the script will save the active_dns.txt file
OUTPUT_DIR_HOST_PATH=./out

# Cron expression for how often the DNS scanner should run 
# Default: "0 0 3 * * 6" (every Saturday at 3 AM)
DNS_SCANNER_SCHEDULE="0 0 3 * * 6"

# The target domain and record type we want the DNS proxy to resolve successfully
TARGET_DOMAIN=A,example.com
# Options to filter the resolved IP addresses (leave empty to disable)
# Useful for finding DNS servers that return the actual IP instead of a censored/fake IP
EXPECTED_IP=
BANNED_IP=

# ----------------------------------------------------
# PERFORMANCE LIMITS & NETWORKING
# ----------------------------------------------------
# The absolute maximum network rate in packets per second ZMap is allowed to send.
# 5000 is extremely safe for a home network/Raspberry Pi.
# If you are on a VPS, you can safely increase this to 100000.
RATE_LIMIT=5000

# The physical network interface to bind ZMap to. 
# This prevents it from routing traffic through TUN/TAP interfaces (like a VPN).
NETWORK_INTERFACE=eth0
