[Unit]
Description=VPN Route Management Service
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/vpn-route.sh --vpn-interface utun --default-interface eth0 --direct-domains {ENTER_DIRECT_DOMAINS_OR_REMOVE_THIS_OPTION}
Restart=on-failure
RestartSec=10s 
StartLimitInterval=1min
StartLimitBurst=10  

[Install]
WantedBy=multi-user.target
