[Unit]
Description=VPN Route Management Service
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/vpn-route.sh --vpn-interface utun --default-interface eth0 --direct-domains time.google.com,time.cloudflare.com,time.apple.com,time.windows.com,0.pool.ntp.org,0.debian.pool.ntp.org,1.debian.pool.ntp.org,2.debian.pool.ntp.org,3.debian.pool.ntp.org,region1.v2.argotunnel.com,region2.v2.argotunnel.com
Restart=on-failure
RestartSec=10s 
StartLimitInterval=1min
StartLimitBurst=10
LogLevelMax=1
SyslogLevel=2  

[Install]
WantedBy=multi-user.target
