services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARE_TUNNEL_TOKEN}
      - TUNNEL_TRANSPORT_PROTOCOL=${CLOUDFLARE_TUNNEL_TRANSPORT_PROTOCOL:-http2}
      - TUNNEL_EDGE_BIND_ADDRESS=${CLOUDFLARE_TUNNEL_EDGE_BIND_ADDRESS:-}
    command: tunnel --no-autoupdate run
    network_mode: host